.card {
  display: flex;
  align-items: center;
  gap: 4em;
}

.user_image {
  border: 1px solid darkolivegreen;
  width: 100px;
  height: 100px;
}

.user_details {
  display: flex;
  align-items: center;
  gap: 1em;
  border: 1px solid pink;
  height: 100px;
  width: 40%;
}

.post_details {
  display: flex;
  align-items: center;
  border: 1px solid darkslategrey;
  gap: 1em;
  width: fit-content;
  padding: 2px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  gap: 0.5em;
}

form > input[type='submit'] {
  width: fit-content;
  margin-inline: auto;
}

form > textarea {
  resize: none;
}